@page
@model narayaniaesthetics.com.web.Pages.Blog.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BlogPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlogPost.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogPost.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogPost.Summary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogPost.Summary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogPost.Keywords)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogPost.Keywords)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogPost.BodyContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogPost.BodyContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogPost.AuthorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogPost.AuthorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogPost.PublishedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogPost.PublishedDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BlogPost.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
